Repository vivid-planet/comet-admin-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint, npm run tsc --silent, prettylint, vplint

.lintstagedrc.json:

{
    "linters": {
        "*.{ts,tsx}": ["tslint", "npm run tsc --silent"],
        "*.{ts,tsx,js,jsx,json,css,scss,md}": ["prettylint"],
        "*": ["vplint"]
    },
    "ignore": ["package-lock.json", "*.lock"]
}

lamda function check is disabled in tslint
  src/App.tsx
Due: tslint, npm run tsc --silent, prettylint, vplint

add Vivid Planet specific deployment helpers for gitlab und build
  .gitlab-ci.yml
  .vivid.yml
Due: vplint

Do not open an new browser window on start
  package.json
Due: prettylint, vplint

Always show menu-icon
  src/components/Master.tsx
Due: tslint, npm run tsc --silent, prettylint, vplint

Roboto is not being used anywhere
  src/App.tsx
Due: tslint, npm run tsc --silent, prettylint, vplint

Don't use ^ operator to get latest version for alpha releases of react-admin
  package.json
Due: prettylint, vplint

link style.css relative to root
  public/index.html
Due: vplint

use styled components for global reset of padding and margin
  public/index.html
  public/style.css
  src/App.tsx
Due: tslint, npm run tsc --silent, prettylint, vplint

Use local fonts instead of loading them from google (to avoid possible firewall issues)
  package.json
  src/App.tsx
Due: tslint, npm run tsc --silent, prettylint, vplint

Don't use pinned version for dependency
  package.json
Due: prettylint, vplint

Enable skipLibCheck tsconfig
  package.json
  tsconfig.json
Due: prettylint, vplint

Enable webpack tree shaking by using module es2015 output from typescript
  webpack.config.ts
Due: tslint, npm run tsc --silent, prettylint, vplint

Add ts-import-plugin that speeds up usage of material-ui imports
  package-lock.json
  package.json
  webpack.config.ts
Due: tslint, npm run tsc --silent, prettylint, vplint

build entire application with babel including node_modules
  .browserslistrc
  package-lock.json
  package.json
  src/polyfills.ts
  tsconfig.json
  webpack.config.ts
Due: tslint, npm run tsc --silent, prettylint, vplint

update to newest react admin version and fixed old code
  package-lock.json
  package.json
  src/App.tsx
  src/components/Menu.tsx
  src/pre-loader.ts
  src/theme.ts
  tsconfig.json
Due: tslint, npm run tsc --silent, prettylint, vplint

styled app toolbar with styled component
  src/App.sc.ts
  src/App.tsx
Due: tslint, npm run tsc --silent, prettylint, vplint

add html-webpack-plugin to generate index.html with global injectable variables
  package-lock.json
  package.json
  public/index.ejs
  public/index.html
  webpack.config.ts
Due: tslint, npm run tsc --silent, prettylint, vplint

Delete LICENSE to avoid getting copied into new applications
  LICENSE
Due: vplint

Remove apollo-link-state in starter
  package-lock.json
  package.json
  src/App.tsx
Due: tslint, npm run tsc --silent, prettylint, vplint

update to latest react-admin and also update other dependencies
  package-lock.json
  package.json
  src/App.tsx
Due: tslint, npm run tsc --silent, prettylint, vplint

Use Menu (and MasterLayout) from react-admin
  package-lock.json
  package.json
  src/App.sc.ts
  src/App.tsx
  src/components/Master.sc.ts
  src/components/Master.tsx
  src/components/MasterHeader.tsx
  src/components/MasterMenu.tsx
  src/components/Menu.sc.ts
  src/components/Menu.tsx
Due: tslint, npm run tsc --silent, prettylint, vplint

Fix required for new date-fns version
  src/App.tsx
Due: tslint, npm run tsc --silent, prettylint, vplint

update to latest react-admin-form
  package.json
Due: prettylint, vplint

Use s2i to build application, provide ci template
  .gitlab-ci.yml
  .s2iignore
Due: vplint

Remove test and production config, make config ENV-injectable
  src/config/dev.local.ts.dist
  src/config/dev.ts
  src/config/index.ts
  src/config/production.ts
  src/config/test.ts
Due: tslint, npm run tsc --silent, prettylint, vplint

Add code which allows to inject environment variables into application
  public/index.ejs
Due: vplint

Move all files into admin subfolder
  admin/.browserslistrc
  admin/.gitignore
  admin/.prettierrc.json
  admin/README.md
  admin/package-lock.json
  admin/package.json
  admin/public/index.ejs
  admin/src/App.tsx
  admin/src/components/MasterHeader.tsx
  admin/src/components/MasterMenu.tsx
  admin/src/config/.gitignore
  admin/src/config/dev.local.ts.dist
  admin/src/config/dev.ts
  admin/src/config/index.ts
  admin/src/globals.ts
  admin/src/loader.ts
  admin/src/pages/Dashboard.tsx
  admin/src/polyfills.ts
  admin/src/pre-loader.ts
  admin/src/theme.ts
  admin/src/vendors.d.ts
  admin/tsconfig.json
  admin/tslint.json
  admin/webpack.config.ts
Due: tslint, npm run tsc --silent, prettylint, vplint

Linting inside docker
  .gitlab-ci.yml
  .huskyrc.json
  .lintstagedrc.json
  .prettierrc.json
  .s2iignore
  .travis.yml
  .vivid.yml
  README.md
  admin/package-lock.json
  docker-compose.yml
  lint.sh
Due: prettylint, vplint

Use docker-compose for running lints
  lint.sh
Due: vplint

try something
  admin-docker/Dockerfile
  docker-compose.yml
Due: vplint

Add --no-deps to avoid long running processes (eg. db) on gitlab runners
  lint.sh
Due: vplint

build pipeline in starter not needed
  .gitlab-ci.yml
Due: vplint

Do proper linting, not just jslint
  admin/package.json
  lint.sh
Due: prettylint, vplint

remove vplint dependency as it is not used
  admin/package-lock.json
  admin/package.json
Due: prettylint, vplint

Add docker-compose command to run npm install
  docker-compose.yml
Due: vplint

fix local config
  admin/src/config/dev.local.ts.dist
Due: vplint

Remove unnecessary global styles
  admin/src/App.tsx
Due: tslint, npm run tsc --silent, prettylint, vplint

Use .env for local development
  admin/.env
  admin/package-lock.json
  admin/package.json
  admin/public/index.ejs
  admin/src/App.tsx
  admin/src/config.ts
  admin/src/config/.gitignore
  admin/src/config/dev.local.ts.dist
  admin/src/config/dev.ts
  admin/src/config/index.ts
  admin/src/environment.ts
  admin/webpack.config.ts
Due: tslint, npm run tsc --silent, prettylint, vplint

switch from tslint to eslint
  admin/.eslintrc.cli.js
  admin/.eslintrc.json
  admin/.prettierignore
  admin/package-lock.json
  admin/package.json
  admin/src/App.tsx
  admin/tslint.json
Due: tslint, npm run tsc --silent, prettylint, vplint

fix fork-ts-checker-webpack-plugin by updating and setting eslint config
  admin/package-lock.json
  admin/package.json
  admin/tsconfig.json
  admin/webpack.config.ts
Due: tslint, npm run tsc --silent, prettylint, vplint
